*{
    overflow-x: hidden;
    margin: 0;
    font-family: sans-serif !important;
}
h1{
    font-size: 400% !important;
}
h2{
    font-size: 194% !important;
    color: #ffe0c7;
}
h3{
    color: #ffe0c7;
}


.btn-group{
    text-align: center;
    padding-bottom: 20%;
    /*display: inline-block; to split nav bar buttons*/
}

.introduction{
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/tomhanksprofile.jpg);
    color: white;
    text-align: center;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 25%;
}

.biography{
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/forestgump.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 150%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.introduction_facts{
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/ProHanks.jpg);
    color: white;
    text-align: center;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 25%;
}

.tableheader{
    margin-top: 1%;
}
@media only screen and (max-width: 2160px){
    .table, th, td{
        border-collapse: collapse;
        max-width: 40%;
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
        padding: 4px;
        overflow-x: auto;
        text-overflow: ellipsis;
        word-wrap: break-word;
        color: white !important;
    }
    h4{
        font-size: 220%;
    }
}

@media only screen and (max-width: 1440px){
    .table, th, td{
        border-collapse: collapse;
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
        padding: 4px;
        overflow-x: auto;
        text-overflow: ellipsis;
        word-wrap: break-word;
        color: white !important;
    }
    h4{
        font-size: 190%;
    }
}

@media only screen and (max-width: 1080px){
    .table, th, td{
        border-collapse: collapse;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
        padding: 4px;
        overflow-x: auto;
        text-overflow: ellipsis;
        word-wrap: break-word;
        color: white !important;
    }
    h4{
        font-size: 130%;
    }
}

@media only screen and (max-width: 720px){
    .table, th, td{
        border-collapse: collapse;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
        padding: 2px;
        overflow-x: auto;
        text-overflow: ellipsis;
        word-wrap: break-word;
        color: white !important;
    }
    h4{
        font-size: 120%;
    }
}

@media only screen and (max-width: 360px){
    .table, th, td{
        border-collapse: collapse;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
        padding: 1px;
        overflow-x: auto;
        text-overflow: ellipsis;
        word-wrap: break-word;
        color: white !important;
    }
    h4{
        font-size: 105%;
    }
}

.table tbody tr:nth-child(odd){
    background-color: rgb(159, 159, 159);

}
.table tbody tr:nth-child(1){
    background-color: rgb(90, 90, 90);
    font-size: 26px;
}


.trollseite{
    position: fixed;
}

.fun_facts{
    background-color: #111;
    color: white;
    font-family: sans-serif;
}

a:link {
    color: #99ccb8;
}
a:visited {
    color: #cbc7bd;
}
a:hover {
    color: #ffbe89;
}
a:active {
    color: #f96f00;
}
a:link, a:visited {
    text-decoration: none; 
}
a:hover, a:active {
    text-decoration: underline;
}
